/build
/target
/local_settings

### Configuration ###
./params.conf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### SM AT Configuration ###
params.conf

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS Stuff ###
.DS_Store

## SDKMan ###
.sdkmanrc
